body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #000;
}

header {
    background-color: #000;
    color: #fff;
    padding: 1rem;
    text-align: left;
}

nav a {
    color: #fff;
    margin: 0 1rem;
    text-decoration: none;
}

.stories {
    display: flex;
    justify-content: center;
    padding: 1rem;
    background-color: #f5f5f5;
}

.story {
    margin: 0 1rem;
    text-align: center;
}

.story img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid #000;
}

.hero {
/*     background-image: url('../img/pattern.jpg');
    background-size: cover;
    background-position: center; */
    color: #fff;
    /*padding: 5rem 1rem;*/
    text-align: center;
}

.search-bar {
    margin: 2rem auto;
    max-width: 600px;
    display: flex;
    justify-content: center;
}

.search-bar input[type="text"] {
    padding: 1rem;
    width: 80%;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    outline: none;
}

.search-bar button {
    padding: 1rem;
    border: 1px solid #ccc;
    background-color: #ff0000;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.cta {
    background-color: #ff0000;
    color: #fff;
    padding: 1rem 2rem;
    text-decoration: none;
    display: inline-block;
    margin-top: 1rem;
}
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    padding: 2rem;
}
.gallery img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}
.car-info {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 0.5rem;
    text-align: center;
    border-radius: 5px;
}

@keyframes ampliar {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}

.car img:hover {
    animation: ampliar 2s;
}

footer {
    background-color: #000;
    color: #fff;
    padding: 2rem 1rem;
    text-align: center;
}

footer .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer .footer-content div {
    margin: 1rem 0;
}

/* footer a {
    color: #ff0000;
    text-decoration: none;
} */

footer .social-icons a {
    margin: 0 0.5rem;
    color: #fff; /* iconos blancos */
}

footer .social-icons a:hover {
    margin: 0 0.5rem;
    color: #ff0000; /* iconos rojos al pasar el mouse */
}

footer .social-icons i {
    font-size: 24px; /* tamaño de los iconos */
}